// @import (Google font urls here) //
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Raleway&display=swap');

@font-face {
    font-family: 'archiaregular';
    src: url('@/assets/fonts/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, #app {
	font-family: 'archiaregular';
	line-height: 1.5;
}

h1 {
	font-family: 'archiaregular';
	font-size: 80px;
	color: black;
	line-height: 1.1;

	@include mobile {
		font-size: 32px;
	}
}

h2 {
	font-family: 'Raleway';
}

p {
	font-size: 16px;
}